<div id="product_list" >
	<h1>Listing Procucts</h1>
 	<table border="1">
 		<tr>
 			<td><strong>Title:</strong></td>
	        <td><strong>Description:</strong></td>
	        <td><strong>Image url:</strong></td>
	        <td><strong>Price:</strong></td>	
 		</tr>	
        <tr>
        	<td><%= @product.title %></td>
        	<td><%= @product.description %></td>
	        <td><%= @product.image_url %></td>
	        <td><%= @product.price %></td>	
        </tr>
 	</table>
<br/>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
